<%- include("./partials/header.ejs") %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 mt-5">
        <h2 class="alert alert-success text-center">Update Recipe</h2>
        <form method="post" action="/recipe/update/<%= data._id %>">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= data.title %>">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" value="<%= data.description %>">
            </div>
            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <input type="text" class="form-control" id="ingredients" name="ingredients" value="<%= data.ingredients>">
            </div>
            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions</label>
                <input type="text" class="form-control" id="instructions" name="instructions" value="<%= data.instructions>">
            </div>
            <button type="submit" class="btn btn-warning">Update</button>
            <button type="submit" class="btn btn-secondary">Back to Home</button>
        </form>
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
